*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flag-container{
    /* border: 1px solid red; */
    height: 100vh;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    aspect-ratio: 2/1;
}

.sec{
    flex: 1; /* each section will take 1/3 part of flag-container */
    /* border: 1px solid black; */
}

.blue{
    background-color: #00B5E2;

}

.red{
    background-color: #EF3340;
    
}

.green{
    background-color: #509E2F;
    
}